[Desktop Entry]
Encoding=UTF-8
Name=Ssfs Client
Comment=Online SliTaz Secure File Storage
Exec=ssfs-box
Icon=ssfs
Type=Application
Categories=Application;Network;
